
<div class='container'>
     <a class="btn default pull-right"><%= current_user.email %></a>
    <h4>게시판</h4>
      <button class="btn default"><%= current_user.email %></button>
    <br>
<!-- 작성자 만들기-->

    번호:  <%= @content_post.id %><br>

     <b>작성자</b> : <%= @content_post.email%>
     
     <b>제목</b> : <%= @content_post.title%>
     <b>내용</b> : <%= @content_post.content %><br>
     <b>게시 :<%= @content_post.created_at %></b> 수정 시간 :<%= @content_post.updated_at %><br>
         <a href="/questions/update_view/<%= @content_post.id%>">수정</a>
    <a href="/questions/destroy/<%= @content_post.id%>">삭제</a>
        <% @content_post.comments.each do |c|%><br>

      댓글 :&nbsp;&nbsp;<%= c.content %> 
      <%if current_user.email == 'admin@admin.com' %> 
      <a href= "/questions/comment_destroy/<%= c.id%>">삭제</a><%end%>  작성 시간:<%= c.updated_at %> 
       <%end%>

     <form action='/questions/comment_create/<%= @content_post.id %>' method='post'>
      <input type='text' name='content' placeholder='댓글'>
       <input type='submit' value='댓글'><br><br>
       
      
      </form>
      


</div>